<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gLibrary.dataaccess.mapper.DepartmentDaoMapper">
	<resultMap id="departmentMap" type="gLibrary.domain.users.departments.Department">
		<result column="department_code" property="departmentCode.code"/>
		<result column="department_name" property="departmentName.name"/>
	</resultMap>
<!-- 一覧検索 -->
	<select id="findDepartmentList" resultMap="departmentMap">
		SELECT
			department_code
			,department_name
		FROM
			users.departments
		ORDER BY
			department_code asc
	</select>
<!-- codeからname検索 -->
	<resultMap id="departmentNameByCodes" type="gLibrary.domain.users.departments.DepartmentName">
		<result column="department_name" property="name"/>
	</resultMap>
		<select id="findDepartmentNames" resultMap="departmentNameByCodes">
		SELECT
			department_name
		FROM
			users.departments
		WHERE
			department_code IN(
			<foreach item="code" collection="list" separator=",">
			 	#{code}
			</foreach>
			)
		ORDER BY
			department_code asc
	</select>

</mapper>