/* Login form */
.login-field {
	margin-top: 36px;
}
.checkbox-item {
	margin-right: 15px;
}

/* Index form */
.date-label {
	margin: 0 .8em .5em;
}
.date-range-dash {
	margin-right: 1.25rem;
}
.label-text {
	display: inline-block;
}

/* Search result */
.search-wrapper {
  margin: 0 5rem 0;
}

/* Book Register Form */
.registered-message {
  background-color: red;
  padding: 1rem;
}

/* Book Register Confirmation */
.similar-publisher-info {
  margin: .5rem 0 .5rem;
}
/* all */
.attention {
  color: red;
}

/* header */
#header .hero-body{
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .3);
}