<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/bulma/css/bulma.min.css" th:href="@{/bulma/css/bulma.min.css}">
	<link rel="stylesheet" href="/css/gLibrary.css" th:href="@{/css/gLibrary.css}">
<title>gLibrary</title>
</head>
<body>
	<header>
		<h1 class="title">Genuine Library</h1>
		<p><a href="/logout">ログアウト</a></p>
	</header>
	<main>
		<div class="section">
			<div class="container card">
				<div class="card-header has-background-grey-dark">
					<p class="card-header-title has-text-white-ter">蔵書検索フォーム</p>
				</div>
				<form class="card-content" method="POST" action="/hogehoge">
					<div class="card-content">
						<div class="field is-horizontal">
							<div class="field-label is-normal">
								<label class="label" for="keyword">キーワード</label>
							</div>
							<div class="field-body">
								<div class="field">
									<div class="control">
										<input class="input" type="text" id="keyword" name="keyword">
									</div>
								</div>
							</div>
						</div>
						<div class="field is-horizontal">
							<div class="field-label is-normal">
								<label class="label" for="isbn">ISBN</label>
							</div>
							<div class="field-body">
								<div class="field">
									<div class="control">
										<input class="input" type="text" id="isbn" name="isbn">
									</div>
								</div>
							</div>
						</div>
						<div class="field is-horizontal">
							<div class="field-label is-normal">
								<label class="label" for="title">タイトル</label>
							</div>
							<div class="field-body">
								<div class="field">
									<div class="control">
										<input class="input" type="text" id="title" name="title">
									</div>
								</div>
							</div>
						</div>
						<div class="field is-horizontal">
							<div class="field-label is-normal">
								<label class="label" for="author">著者</label>
							</div>
							<div class="field-body">
								<div class="field">
									<div class="control">
										<input class="input" type="text" id="author" name="author">
									</div>
								</div>
							</div>
						</div>
						<div class="field is-horizontal">
							<div class="field-label is-normal">
								<label class="label" for="publisher">出版社</label>
							</div>
							<div class="field-body">
								<div class="field">
									<div class="control">
										<input class="input" type="text" id="publisher" name="publisher">
									</div>
								</div>
							</div>
						</div>
						<div class="field is-horizontal">
							<div class="field-label is-normal">
								<label class="label" for="pubdate">出版日</label>
							</div>
							<div class="field-body">
								<div class="field">
									<div class="control">
										<input class="input pubdate" type="text" name="pubfromdate">
									</div>
								</div>
								<span>～</span>
								<div class="field">
									<div class="control">
										<input class="input pubdate" type="text" name="pubtodate">
									</div>
								</div>
							</div>
						</div>
						<!-- check box -->
						<div class="field is-horizontal">
							<div class="field-label is-normal">
								<label class="label" for="pubdate">推薦部署</label>
							</div>
							<div th:each="departmentList:${departmentList}">
								<div class="field-body">
									<div class="field">
										<div class="control">
											<label class="checkbox">
												<input type="checkbox" name="${departmentList.departmentCode.getCode()}">
												<span th:text="${departmentList.departmentName.getName()}"></span>
											</label>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--
						<div class="field is-horizontal">
							<div class="field-label is-normal">
								<label class="label" for="level">読者に求める技術レベル</label>
							</div>
							<div th:each="">
								<div class="field-body">
									<div class="field">
										<div class="control">
											<label class="checkbox">
												<input type="checkbox" name="">
												<span th:text=""></span>
											</label>
										</div>
									</div>
								</div>
							</div>
						</div>
					 -->
					</div>
					<div class="field card-footer">
				      	<div class="control card-footer-item">
							<input class="button is-info" type="submit" value="検索">
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="section">
			<div class="container">
				<div id="book-description">
					<p>書籍紹介</p>
				</div>
			</div>
		</div>
	</main>
</body>
</html>